<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780911137689-9msvvesa4a7e8964695c526i6u8dapl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780911137689-9msvvesa4a7e8964695c526i6u8dapl2</string>
	<key>API_KEY</key>
	<string>AIzaSyCV5Xja9TlYq2zN9pYQ6dzkkpBJcPbp6ik</string>
	<key>GCM_SENDER_ID</key>
	<string>780911137689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>moviefilm-7a7a5</string>
	<key>STORAGE_BUCKET</key>
	<string>moviefilm-7a7a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780911137689:ios:ed1101e604bf3af4caf908</string>
</dict>
</plist>